*,:after,:before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style:
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style:
}

/*
! tailwindcss v3.4.16 | MIT License | https://tailwindcss.com
*/
*,:after,:before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb
}

:after,:before {
    --tw-content: ""
}

:host,html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: var(--font-geist-sans);
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent
}

body {
    margin: 0;
    line-height: inherit
}

hr {
    height: 0;
    color: inherit;
    border-top-width: 1px
}

abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

b,strong {
    font-weight: bolder
}

code,kbd,pre,samp {
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse
}

button,input,optgroup,select,textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
    margin: 0;
    padding: 0
}

button,select {
    text-transform: none
}

button,input:where([type=button]),input:where([type=reset]),input:where([type=submit]) {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none
}

:-moz-focusring {
    outline: auto
}

:-moz-ui-invalid {
    box-shadow: none
}

progress {
    vertical-align: baseline
}

::-webkit-inner-spin-button,::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

summary {
    display: list-item
}

blockquote,dd,dl,figure,h1,h2,h3,h4,h5,h6,hr,p,pre {
    margin: 0
}

fieldset {
    margin: 0
}

fieldset,legend {
    padding: 0
}

menu,ol,ul {
    list-style: none;
    margin: 0;
    padding: 0
}

dialog {
    padding: 0
}

textarea {
    resize: vertical
}

input::-moz-placeholder,textarea::-moz-placeholder {
    opacity: 1;
    color: #9ca3af
}

input::placeholder,textarea::placeholder {
    opacity: 1;
    color: #9ca3af
}

[role=button],button {
    cursor: pointer
}

:disabled {
    cursor: default
}

audio,canvas,embed,iframe,img,object,svg,video {
    display: block;
    vertical-align: middle
}

img,video {
    max-width: 100%;
    height: auto
}

[hidden]:where(:not([hidden=until-found])) {
    display: none
}

.prose {
    color: var(--tw-prose-body);
    max-width: 65ch
}

.prose :where(p):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-top: 1.25em;
    margin-bottom: 1.25em
}

.prose :where([class~=lead]):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: var(--tw-prose-lead);
    font-size: 1.25em;
    line-height: 1.6;
    margin-top: 1.2em;
    margin-bottom: 1.2em
}

.prose :where(a):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: var(--tw-prose-links);
    text-decoration: underline;
    font-weight: 500
}

.prose :where(strong):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: var(--tw-prose-bold);
    font-weight: 600
}

.prose :where(a strong):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: inherit
}

.prose :where(blockquote strong):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: inherit
}

.prose :where(thead th strong):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: inherit
}

.prose :where(ol):not(:where([class~=not-prose],[class~=not-prose] *)) {
    list-style-type: decimal;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    padding-inline-start:1.625em}

.prose :where(ol[type=A]):not(:where([class~=not-prose],[class~=not-prose] *)) {
    list-style-type: upper-alpha
}

.prose :where(ol[type=a]):not(:where([class~=not-prose],[class~=not-prose] *)) {
    list-style-type: lower-alpha
}

.prose :where(ol[type=A s]):not(:where([class~=not-prose],[class~=not-prose] *)) {
    list-style-type: upper-alpha
}

.prose :where(ol[type=a s]):not(:where([class~=not-prose],[class~=not-prose] *)) {
    list-style-type: lower-alpha
}

.prose :where(ol[type=I]):not(:where([class~=not-prose],[class~=not-prose] *)) {
    list-style-type: upper-roman
}

.prose :where(ol[type=i]):not(:where([class~=not-prose],[class~=not-prose] *)) {
    list-style-type: lower-roman
}

.prose :where(ol[type=I s]):not(:where([class~=not-prose],[class~=not-prose] *)) {
    list-style-type: upper-roman
}

.prose :where(ol[type=i s]):not(:where([class~=not-prose],[class~=not-prose] *)) {
    list-style-type: lower-roman
}

.prose :where(ol[type="1"]):not(:where([class~=not-prose],[class~=not-prose] *)) {
    list-style-type: decimal
}

.prose :where(ul):not(:where([class~=not-prose],[class~=not-prose] *)) {
    list-style-type: disc;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    padding-inline-start:1.625em}

.prose :where(ol>li):not(:where([class~=not-prose],[class~=not-prose] *))::marker {
    font-weight: 400;
    color: var(--tw-prose-counters)
}

.prose :where(ul>li):not(:where([class~=not-prose],[class~=not-prose] *))::marker {
    color: var(--tw-prose-bullets)
}

.prose :where(dt):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: var(--tw-prose-headings);
    font-weight: 600;
    margin-top: 1.25em
}

.prose :where(hr):not(:where([class~=not-prose],[class~=not-prose] *)) {
    border-color: var(--tw-prose-hr);
    border-top-width: 1px;
    margin-top: 3em;
    margin-bottom: 3em
}

.prose :where(blockquote):not(:where([class~=not-prose],[class~=not-prose] *)) {
    font-weight: 500;
    font-style: italic;
    color: var(--tw-prose-quotes);
    border-inline-start-width:.25rem;border-inline-start-color:var(--tw-prose-quote-borders);quotes: "\201C""\201D""\2018""\2019";
    margin-top: 1.6em;
    margin-bottom: 1.6em;
    padding-inline-start:1em}

.prose :where(blockquote p:first-of-type):not(:where([class~=not-prose],[class~=not-prose] *)):before {
    content: open-quote
}

.prose :where(blockquote p:last-of-type):not(:where([class~=not-prose],[class~=not-prose] *)):after {
    content: close-quote
}

.prose :where(h1):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: var(--tw-prose-headings);
    font-weight: 800;
    font-size: 2.25em;
    margin-top: 0;
    margin-bottom: .8888889em;
    line-height: 1.1111111
}

.prose :where(h1 strong):not(:where([class~=not-prose],[class~=not-prose] *)) {
    font-weight: 900;
    color: inherit
}

.prose :where(h2):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: var(--tw-prose-headings);
    font-weight: 700;
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: 1em;
    line-height: 1.3333333
}

.prose :where(h2 strong):not(:where([class~=not-prose],[class~=not-prose] *)) {
    font-weight: 800;
    color: inherit
}

.prose :where(h3):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: var(--tw-prose-headings);
    font-weight: 600;
    font-size: 1.25em;
    margin-top: 1.6em;
    margin-bottom: .6em;
    line-height: 1.6
}

.prose :where(h3 strong):not(:where([class~=not-prose],[class~=not-prose] *)) {
    font-weight: 700;
    color: inherit
}

.prose :where(h4):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: var(--tw-prose-headings);
    font-weight: 600;
    margin-top: 1.5em;
    margin-bottom: .5em;
    line-height: 1.5
}

.prose :where(h4 strong):not(:where([class~=not-prose],[class~=not-prose] *)) {
    font-weight: 700;
    color: inherit
}

.prose :where(img):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-top: 2em;
    margin-bottom: 2em
}

.prose :where(picture):not(:where([class~=not-prose],[class~=not-prose] *)) {
    display: block;
    margin-top: 2em;
    margin-bottom: 2em
}

.prose :where(video):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-top: 2em;
    margin-bottom: 2em
}

.prose :where(kbd):not(:where([class~=not-prose],[class~=not-prose] *)) {
    font-weight: 500;
    font-family: inherit;
    color: var(--tw-prose-kbd);
    box-shadow: 0 0 0 1px rgb(var(--tw-prose-kbd-shadows)/10%),0 3px 0 rgb(var(--tw-prose-kbd-shadows)/10%);
    font-size: .875em;
    border-radius: .3125rem;
    padding-top: .1875em;
    padding-inline-end:.375em;padding-bottom: .1875em;
    padding-inline-start:.375em}

.prose :where(code):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: var(--tw-prose-code);
    font-weight: 600;
    font-size: .875em
}

.prose :where(code):not(:where([class~=not-prose],[class~=not-prose] *)):before {
    content: "`"
}

.prose :where(code):not(:where([class~=not-prose],[class~=not-prose] *)):after {
    content: "`"
}

.prose :where(a code):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: inherit
}

.prose :where(h1 code):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: inherit
}

.prose :where(h2 code):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: inherit;
    font-size: .875em
}

.prose :where(h3 code):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: inherit;
    font-size: .9em
}

.prose :where(h4 code):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: inherit
}

.prose :where(blockquote code):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: inherit
}

.prose :where(thead th code):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: inherit
}

.prose :where(pre):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: var(--tw-prose-pre-code);
    background-color: var(--tw-prose-pre-bg);
    overflow-x: auto;
    font-weight: 400;
    font-size: .875em;
    line-height: 1.7142857;
    margin-top: 1.7142857em;
    margin-bottom: 1.7142857em;
    border-radius: .375rem;
    padding-top: .8571429em;
    padding-inline-end:1.1428571em;padding-bottom: .8571429em;
    padding-inline-start:1.1428571em}

.prose :where(pre code):not(:where([class~=not-prose],[class~=not-prose] *)) {
    background-color: transparent;
    border-width: 0;
    border-radius: 0;
    padding: 0;
    font-weight: inherit;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit
}

.prose :where(pre code):not(:where([class~=not-prose],[class~=not-prose] *)):before {
    content: none
}

.prose :where(pre code):not(:where([class~=not-prose],[class~=not-prose] *)):after {
    content: none
}

.prose :where(table):not(:where([class~=not-prose],[class~=not-prose] *)) {
    width: 100%;
    table-layout: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: .875em;
    line-height: 1.7142857
}

.prose :where(thead):not(:where([class~=not-prose],[class~=not-prose] *)) {
    border-bottom-width: 1px;
    border-bottom-color: var(--tw-prose-th-borders)
}

.prose :where(thead th):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: var(--tw-prose-headings);
    font-weight: 600;
    vertical-align: bottom;
    padding-inline-end:.5714286em;padding-bottom: .5714286em;
    padding-inline-start:.5714286em}

.prose :where(tbody tr):not(:where([class~=not-prose],[class~=not-prose] *)) {
    border-bottom-width: 1px;
    border-bottom-color: var(--tw-prose-td-borders)
}

.prose :where(tbody tr:last-child):not(:where([class~=not-prose],[class~=not-prose] *)) {
    border-bottom-width: 0
}

.prose :where(tbody td):not(:where([class~=not-prose],[class~=not-prose] *)) {
    vertical-align: baseline
}

.prose :where(tfoot):not(:where([class~=not-prose],[class~=not-prose] *)) {
    border-top-width: 1px;
    border-top-color: var(--tw-prose-th-borders)
}

.prose :where(tfoot td):not(:where([class~=not-prose],[class~=not-prose] *)) {
    vertical-align: top
}

.prose :where(th,td):not(:where([class~=not-prose],[class~=not-prose] *)) {
    text-align: start
}

.prose :where(figure>*):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-top: 0;
    margin-bottom: 0
}

.prose :where(figcaption):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: var(--tw-prose-captions);
    font-size: .875em;
    line-height: 1.4285714;
    margin-top: .8571429em
}

.prose {
    --tw-prose-body: #374151;
    --tw-prose-headings: #111827;
    --tw-prose-lead: #4b5563;
    --tw-prose-links: #111827;
    --tw-prose-bold: #111827;
    --tw-prose-counters: #6b7280;
    --tw-prose-bullets: #d1d5db;
    --tw-prose-hr: #e5e7eb;
    --tw-prose-quotes: #111827;
    --tw-prose-quote-borders: #e5e7eb;
    --tw-prose-captions: #6b7280;
    --tw-prose-kbd: #111827;
    --tw-prose-kbd-shadows: 17 24 39;
    --tw-prose-code: #111827;
    --tw-prose-pre-code: #e5e7eb;
    --tw-prose-pre-bg: #1f2937;
    --tw-prose-th-borders: #d1d5db;
    --tw-prose-td-borders: #e5e7eb;
    --tw-prose-invert-body: #d1d5db;
    --tw-prose-invert-headings: #fff;
    --tw-prose-invert-lead: #9ca3af;
    --tw-prose-invert-links: #fff;
    --tw-prose-invert-bold: #fff;
    --tw-prose-invert-counters: #9ca3af;
    --tw-prose-invert-bullets: #4b5563;
    --tw-prose-invert-hr: #374151;
    --tw-prose-invert-quotes: #f3f4f6;
    --tw-prose-invert-quote-borders: #374151;
    --tw-prose-invert-captions: #9ca3af;
    --tw-prose-invert-kbd: #fff;
    --tw-prose-invert-kbd-shadows: 255 255 255;
    --tw-prose-invert-code: #fff;
    --tw-prose-invert-pre-code: #d1d5db;
    --tw-prose-invert-pre-bg: rgba(0,0,0,.5);
    --tw-prose-invert-th-borders: #4b5563;
    --tw-prose-invert-td-borders: #374151;
    font-size: 1rem;
    line-height: 1.75
}

.prose :where(picture>img):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-top: 0;
    margin-bottom: 0
}

.prose :where(li):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-top: .5em;
    margin-bottom: .5em
}

.prose :where(ol>li):not(:where([class~=not-prose],[class~=not-prose] *)) {
    padding-inline-start:.375em}

.prose :where(ul>li):not(:where([class~=not-prose],[class~=not-prose] *)) {
    padding-inline-start:.375em}

.prose :where(.prose>ul>li p):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-top: .75em;
    margin-bottom: .75em
}

.prose :where(.prose>ul>li>p:first-child):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-top: 1.25em
}

.prose :where(.prose>ul>li>p:last-child):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-bottom: 1.25em
}

.prose :where(.prose>ol>li>p:first-child):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-top: 1.25em
}

.prose :where(.prose>ol>li>p:last-child):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-bottom: 1.25em
}

.prose :where(ul ul,ul ol,ol ul,ol ol):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-top: .75em;
    margin-bottom: .75em
}

.prose :where(dl):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-top: 1.25em;
    margin-bottom: 1.25em
}

.prose :where(dd):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-top: .5em;
    padding-inline-start:1.625em}

.prose :where(hr+*):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-top: 0
}

.prose :where(h2+*):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-top: 0
}

.prose :where(h3+*):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-top: 0
}

.prose :where(h4+*):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-top: 0
}

.prose :where(thead th:first-child):not(:where([class~=not-prose],[class~=not-prose] *)) {
    padding-inline-start:0}

.prose :where(thead th:last-child):not(:where([class~=not-prose],[class~=not-prose] *)) {
    padding-inline-end:0}

.prose :where(tbody td,tfoot td):not(:where([class~=not-prose],[class~=not-prose] *)) {
    padding-top: .5714286em;
    padding-inline-end:.5714286em;padding-bottom: .5714286em;
    padding-inline-start:.5714286em}

.prose :where(tbody td:first-child,tfoot td:first-child):not(:where([class~=not-prose],[class~=not-prose] *)) {
    padding-inline-start:0}

.prose :where(tbody td:last-child,tfoot td:last-child):not(:where([class~=not-prose],[class~=not-prose] *)) {
    padding-inline-end:0}

.prose :where(figure):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-top: 2em;
    margin-bottom: 2em
}

.prose :where(.prose>:first-child):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-top: 0
}

.prose :where(.prose>:last-child):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-bottom: 0
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0
}

.fixed {
    position: fixed
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.inset-0 {
    inset: 0
}

.bottom-0 {
    bottom: 0
}

.bottom-\[15\%\] {
    bottom: 15%
}

.left-0 {
    left: 0
}

.right-0 {
    right: 0
}

.top-0 {
    top: 0
}

.z-10 {
    z-index: 10
}

.z-30 {
    z-index: 30
}

.z-40 {
    z-index: 40
}

.z-50 {
    z-index: 50
}

.order-first {
    order: -9999
}

.order-last {
    order: 9999
}

.order-none {
    order: 0
}

.col-span-2 {
    grid-column: span 2/span 2
}

.mx-1 {
    margin-left: .25rem;
    margin-right: .25rem
}

.mx-2 {
    margin-left: .5rem;
    margin-right: .5rem
}

.mx-4 {
    margin-left: 1rem;
    margin-right: 1rem
}

.mx-8 {
    margin-left: 2rem;
    margin-right: 2rem
}

.mx-\[1px\] {
    margin-left: 1px;
    margin-right: 1px
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.my-12 {
    margin-top: 3rem;
    margin-bottom: 3rem
}

.my-2 {
    margin-top: .5rem;
    margin-bottom: .5rem
}

.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem
}

.-ml-1 {
    margin-left: -.25rem
}

.-mr-2 {
    margin-right: -.5rem
}

.-mt-2 {
    margin-top: -.5rem
}

.mb-2 {
    margin-bottom: .5rem
}

.mb-3 {
    margin-bottom: .75rem
}

.mb-4 {
    margin-bottom: 1rem
}

.mb-6 {
    margin-bottom: 1.5rem
}

.mb-8 {
    margin-bottom: 2rem
}

.ml-1 {
    margin-left: .25rem
}

.ml-2 {
    margin-left: .5rem
}

.ml-4 {
    margin-left: 1rem
}

.ml-auto {
    margin-left: auto
}

.mr-2 {
    margin-right: .5rem
}

.mr-3 {
    margin-right: .75rem
}

.mr-4 {
    margin-right: 1rem
}

.mr-auto {
    margin-right: auto
}

.mt-12 {
    margin-top: 3rem
}

.mt-2 {
    margin-top: .5rem
}

.mt-20 {
    margin-top: 5rem
}

.mt-4 {
    margin-top: 1rem
}

.mt-6 {
    margin-top: 1.5rem
}

.line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2
}

.block {
    display: block
}

.inline-block {
    display: inline-block
}

.inline {
    display: inline
}

.flex {
    display: flex
}

.inline-flex {
    display: inline-flex
}

.grid {
    display: grid
}

.hidden {
    display: none
}

.aspect-square {
    aspect-ratio: 1/1
}

.h-1 {
    height: .25rem
}

.h-11 {
    height: 2.75rem
}

.h-16 {
    height: 4rem
}

.h-20 {
    height: 5rem
}

.h-4 {
    height: 1rem
}

.h-5 {
    height: 1.25rem
}

.h-6 {
    height: 1.5rem
}

.h-8 {
    height: 2rem
}

.h-9 {
    height: 2.25rem
}

.h-\[10px\] {
    height: 10px
}

.h-\[160px\] {
    height: 160px
}

.h-\[16px\] {
    height: 16px
}

.h-\[188px\] {
    height: 188px
}

.h-\[24px\] {
    height: 24px
}

.h-\[30px\] {
    height: 30px
}

.h-\[30vh\] {
    height: 30vh
}

.h-\[400px\] {
    height: 400px
}

.h-\[40px\] {
    height: 40px
}

.h-full {
    height: 100%
}

.max-h-\[275px\] {
    max-height: 275px
}

.max-h-\[550px\] {
    max-height: 550px
}

.min-h-screen {
    min-height: 100vh
}

.w-1 {
    width: .25rem
}

.w-11 {
    width: 2.75rem
}

.w-16 {
    width: 4rem
}

.w-2\/3 {
    width: 66.666667%
}

.w-20 {
    width: 5rem
}

.w-4 {
    width: 1rem
}

.w-5\/6 {
    width: 83.333333%
}

.w-6 {
    width: 1.5rem
}

.w-\[10px\] {
    width: 10px
}

.w-\[160px\] {
    width: 160px
}

.w-\[16px\] {
    width: 16px
}

.w-\[1px\] {
    width: 1px
}

.w-\[200px\] {
    width: 200px
}

.w-\[24px\] {
    width: 24px
}

.w-\[30px\] {
    width: 30px
}

.w-\[40px\] {
    width: 40px
}

.w-auto {
    width: auto
}

.w-full {
    width: 100%
}

.w-max {
    width: -moz-max-content;
    width: max-content
}

.w-px {
    width: 1px
}

.min-w-\[36px\] {
    min-width: 36px
}

.min-w-\[48px\] {
    min-width: 48px
}

.max-w-2xl {
    max-width: 42rem
}

.max-w-6xl {
    max-width: 72rem
}

.max-w-7xl {
    max-width: 80rem
}

.max-w-\[36px\] {
    max-width: 36px
}

.max-w-\[475px\] {
    max-width: 475px
}

.max-w-screen-2xl {
    max-width: 1536px
}

.max-w-xl {
    max-width: 36rem
}

.flex-1 {
    flex: 1 1 0%
}

.flex-none {
    flex: none
}

.flex-grow {
    flex-grow: 1
}

.basis-full {
    flex-basis: 100%
}

.translate-x-0 {
    --tw-translate-x: 0px
}

.translate-x-0,.translate-x-\[-100\%\] {
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-x-\[-100\%\] {
    --tw-translate-x: -100%
}

.translate-x-full {
    --tw-translate-x: 100%;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

@keyframes blink {
    0% {
        opacity: .2
    }

    20% {
        opacity: 1
    }

    to {
        opacity: .2
    }
}

.animate-blink {
    animation: blink 1.4s infinite both
}

@keyframes marquee {
    0% {
        transform: translateX(0)
    }

    to {
        transform: translateX(-100%)
    }
}

.animate-carousel {
    animation: marquee 60s linear infinite
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.animate-fadeIn {
    animation: fadeIn .3s ease-in-out
}

@keyframes pulse {
    50% {
        opacity: .5
    }
}

.animate-pulse {
    animation: pulse 2s cubic-bezier(.4,0,.6,1) infinite
}

.cursor-default {
    cursor: default
}

.cursor-not-allowed {
    cursor: not-allowed
}

.resize {
    resize: both
}

.grid-flow-row {
    grid-auto-flow: row
}

.grid-cols-1 {
    grid-template-columns: repeat(1,minmax(0,1fr))
}

.grid-cols-2 {
    grid-template-columns: repeat(2,minmax(0,1fr))
}

.flex-row {
    flex-direction: row
}

.flex-col {
    flex-direction: column
}

.flex-wrap {
    flex-wrap: wrap
}

.items-center {
    align-items: center
}

.justify-end {
    justify-content: flex-end
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.gap-1 {
    gap: .25rem
}

.gap-2 {
    gap: .5rem
}

.gap-3 {
    gap: .75rem
}

.gap-4 {
    gap: 1rem
}

.gap-6 {
    gap: 1.5rem
}

.gap-8 {
    gap: 2rem
}

.space-x-4>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem * var(--tw-space-x-reverse));
    margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)))
}

.space-y-2>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(.5rem * var(--tw-space-y-reverse))
}

.overflow-auto {
    overflow: auto
}

.overflow-hidden {
    overflow: hidden
}

.overflow-x-auto {
    overflow-x: auto
}

.rounded {
    border-radius: .25rem
}

.rounded-3xl {
    border-radius: 1.5rem
}

.rounded-full {
    border-radius: 9999px
}

.rounded-lg {
    border-radius: .5rem
}

.rounded-md {
    border-radius: .375rem
}

.rounded-xl {
    border-radius: .75rem
}

.rounded-b-md {
    border-bottom-right-radius: .375rem;
    border-bottom-left-radius: .375rem
}

.border {
    border-width: 1px
}

.border-2 {
    border-width: 2px
}

.border-b {
    border-bottom-width: 1px
}

.border-l {
    border-left-width: 1px
}

.border-r {
    border-right-width: 1px
}

.border-t {
    border-top-width: 1px
}

.border-black\/30 {
    border-color: rgba(0,0,0,.3)
}

.border-blue-600 {
    --tw-border-opacity: 1;
    border-color: rgb(37 99 235/var(--tw-border-opacity,1))
}

.border-neutral-200 {
    --tw-border-opacity: 1;
    border-color: rgb(229 229 229/var(--tw-border-opacity,1))
}

.border-neutral-300 {
    --tw-border-opacity: 1;
    border-color: rgb(212 212 212/var(--tw-border-opacity,1))
}

.border-neutral-400 {
    --tw-border-opacity: 1;
    border-color: rgb(163 163 163/var(--tw-border-opacity,1))
}

.border-neutral-700 {
    --tw-border-opacity: 1;
    border-color: rgb(64 64 64/var(--tw-border-opacity,1))
}

.border-neutral-800 {
    --tw-border-opacity: 1;
    border-color: rgb(38 38 38/var(--tw-border-opacity,1))
}

.border-white {
    --tw-border-opacity: 1;
    border-color: rgb(255 255 255/var(--tw-border-opacity,1))
}

.bg-black {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0/var(--tw-bg-opacity,1))
}

.bg-black\/30 {
    background-color: rgba(0,0,0,.3)
}

.bg-blue-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(37 99 235/var(--tw-bg-opacity,1))
}

.bg-neutral-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(245 245 245/var(--tw-bg-opacity,1))
}

.bg-neutral-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(229 229 229/var(--tw-bg-opacity,1))
}

.bg-neutral-300 {
    --tw-bg-opacity: 1;
    background-color: rgb(212 212 212/var(--tw-bg-opacity,1))
}

.bg-neutral-400 {
    --tw-bg-opacity: 1;
    background-color: rgb(163 163 163/var(--tw-bg-opacity,1))
}

.bg-neutral-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(250 250 250/var(--tw-bg-opacity,1))
}

.bg-neutral-50\/80 {
    background-color: hsla(0,0%,98%,.8)
}

.bg-neutral-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(115 115 115/var(--tw-bg-opacity,1))
}

.bg-neutral-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(64 64 64/var(--tw-bg-opacity,1))
}

.bg-neutral-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(38 38 38/var(--tw-bg-opacity,1))
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity,1))
}

.bg-white\/70 {
    background-color: hsla(0,0%,100%,.7)
}

.bg-white\/80 {
    background-color: hsla(0,0%,100%,.8)
}

.fill-black {
    fill: #000
}

.object-contain {
    -o-object-fit: contain;
    object-fit: contain
}

.object-cover {
    -o-object-fit: cover;
    object-fit: cover
}

.p-1 {
    padding: .25rem
}

.p-2 {
    padding: .5rem
}

.p-3 {
    padding: .75rem
}

.p-4 {
    padding: 1rem
}

.p-6 {
    padding: 1.5rem
}

.p-8 {
    padding: 2rem
}

.px-1 {
    padding-left: .25rem;
    padding-right: .25rem
}

.px-2 {
    padding-left: .5rem;
    padding-right: .5rem
}

.px-3 {
    padding-left: .75rem;
    padding-right: .75rem
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.py-1 {
    padding-top: .25rem;
    padding-bottom: .25rem
}

.py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem
}

.py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem
}

.py-3 {
    padding-top: .75rem;
    padding-bottom: .75rem
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem
}

.py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem
}

.py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem
}

.pb-1 {
    padding-bottom: .25rem
}

.pb-4 {
    padding-bottom: 1rem
}

.pb-6 {
    padding-bottom: 1.5rem
}

.pl-2 {
    padding-left: .5rem
}

.pt-1 {
    padding-top: .25rem
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem
}

.text-5xl {
    font-size: 3rem;
    line-height: 1
}

.text-6xl {
    font-size: 3.75rem;
    line-height: 1
}

.text-\[11px\] {
    font-size: 11px
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem
}

.text-xs {
    font-size: .75rem;
    line-height: 1rem
}

.font-bold {
    font-weight: 700
}

.font-medium {
    font-weight: 500
}

.font-semibold {
    font-weight: 600
}

.uppercase {
    text-transform: uppercase
}

.italic {
    font-style: italic
}

.leading-7 {
    line-height: 1.75rem
}

.leading-none {
    line-height: 1
}

.leading-tight {
    line-height: 1.25
}

.tracking-tight {
    letter-spacing: -.025em
}

.tracking-wide {
    letter-spacing: .025em
}

.text-black {
    --tw-text-opacity: 1;
    color: rgb(0 0 0/var(--tw-text-opacity,1))
}

.text-blue-600 {
    --tw-text-opacity: 1;
    color: rgb(37 99 235/var(--tw-text-opacity,1))
}

.text-neutral-300 {
    --tw-text-opacity: 1;
    color: rgb(212 212 212/var(--tw-text-opacity,1))
}

.text-neutral-500 {
    --tw-text-opacity: 1;
    color: rgb(115 115 115/var(--tw-text-opacity,1))
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity,1))
}

.underline {
    text-decoration-line: underline
}

.underline-offset-4 {
    text-underline-offset: 4px
}

.opacity-0 {
    opacity: 0
}

.opacity-100 {
    opacity: 1
}

.opacity-60 {
    opacity: .6
}

.opacity-90 {
    opacity: .9
}

.shadow-md {
    --tw-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)
}

.ring-1 {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color)
}

.ring-1,.ring-2 {
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow,0 0 #0000)
}

.ring-2 {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color)
}

.ring-blue-600 {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(37 99 235/var(--tw-ring-opacity,1))
}

.ring-neutral-300 {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(212 212 212/var(--tw-ring-opacity,1))
}

.ring-transparent {
    --tw-ring-color: transparent
}

.filter {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.backdrop-blur {
    --tw-backdrop-blur: blur(8px)
}

.backdrop-blur,.backdrop-blur-\[\.5px\] {
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}

.backdrop-blur-\[\.5px\] {
    --tw-backdrop-blur: blur(.5px)
}

.backdrop-blur-md {
    --tw-backdrop-blur: blur(12px)
}

.backdrop-blur-md,.backdrop-blur-none {
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}

.backdrop-blur-none {
    --tw-backdrop-blur:
}

.backdrop-blur-xl {
    --tw-backdrop-blur: blur(24px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}

.transition {
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s
}

.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s
}

.transition-colors {
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s
}

.transition-opacity {
    transition-property: opacity;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s
}

.duration-200 {
    transition-duration: .2s
}

.duration-300 {
    transition-duration: .3s
}

.ease-in-out {
    transition-timing-function: cubic-bezier(.4,0,.2,1)
}

.\@container\/label {
    container-type: inline-size;
    container-name: label
}

.animation-delay-\[200ms\] {
    animation-delay: .2s
}

.animation-delay-\[400ms\] {
    animation-delay: .4s
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme:dark
    }
}

@supports (font: -apple-system-body) and (-webkit-appearance:none) {
    img[loading=lazy] {
        clip-path:inset(.6px)
    }
}

a:focus-visible,button:focus-visible,input:focus-visible {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow,0 0 #0000);
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(163 163 163/var(--tw-ring-opacity,1));
    --tw-ring-offset-width: 2px;
    --tw-ring-offset-color: #fafafa
}

@media (prefers-color-scheme: dark) {
    a:focus-visible,button:focus-visible,input:focus-visible {
        --tw-ring-opacity:1;
        --tw-ring-color: rgb(82 82 82/var(--tw-ring-opacity,1));
        --tw-ring-offset-color: #171717
    }
}

.selection\:bg-teal-300 ::-moz-selection {
    --tw-bg-opacity: 1;
    background-color: rgb(94 234 212/var(--tw-bg-opacity,1))
}

.selection\:bg-teal-300 ::selection {
    --tw-bg-opacity: 1;
    background-color: rgb(94 234 212/var(--tw-bg-opacity,1))
}

.selection\:bg-teal-300::-moz-selection {
    --tw-bg-opacity: 1;
    background-color: rgb(94 234 212/var(--tw-bg-opacity,1))
}

.selection\:bg-teal-300::selection {
    --tw-bg-opacity: 1;
    background-color: rgb(94 234 212/var(--tw-bg-opacity,1))
}

.placeholder\:text-neutral-500::-moz-placeholder {
    --tw-text-opacity: 1;
    color: rgb(115 115 115/var(--tw-text-opacity,1))
}

.placeholder\:text-neutral-500::placeholder {
    --tw-text-opacity: 1;
    color: rgb(115 115 115/var(--tw-text-opacity,1))
}

.before\:absolute:before {
    content: var(--tw-content);
    position: absolute
}

.before\:inset-x-0:before {
    content: var(--tw-content);
    left: 0;
    right: 0
}

.before\:-z-10:before {
    content: var(--tw-content);
    z-index: -10
}

.before\:h-px:before {
    content: var(--tw-content);
    height: 1px
}

.before\:-rotate-45:before {
    content: var(--tw-content);
    --tw-rotate: -45deg;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.before\:bg-neutral-300:before {
    content: var(--tw-content);
    --tw-bg-opacity: 1;
    background-color: rgb(212 212 212/var(--tw-bg-opacity,1))
}

.before\:transition-transform:before {
    content: var(--tw-content);
    transition-property: transform;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s
}

@media (hover: hover) and (pointer:fine) {
    .hover\:scale-110:hover {
        --tw-scale-x:1.1;
        --tw-scale-y: 1.1;
        transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }

    .hover\:border-blue-600:hover {
        --tw-border-opacity: 1;
        border-color: rgb(37 99 235/var(--tw-border-opacity,1))
    }

    .hover\:border-neutral-800:hover {
        --tw-border-opacity: 1;
        border-color: rgb(38 38 38/var(--tw-border-opacity,1))
    }

    .hover\:text-black:hover {
        --tw-text-opacity: 1;
        color: rgb(0 0 0/var(--tw-text-opacity,1))
    }

    .hover\:text-neutral-500:hover {
        --tw-text-opacity: 1;
        color: rgb(115 115 115/var(--tw-text-opacity,1))
    }

    .hover\:underline:hover {
        text-decoration-line: underline
    }

    .hover\:underline-offset-4:hover {
        text-underline-offset: 4px
    }

    .hover\:opacity-100:hover {
        opacity: 1
    }

    .hover\:opacity-60:hover {
        opacity: .6
    }

    .hover\:opacity-80:hover {
        opacity: .8
    }

    .hover\:opacity-90:hover {
        opacity: .9
    }

    .hover\:ring-blue-600:hover {
        --tw-ring-opacity: 1;
        --tw-ring-color: rgb(37 99 235/var(--tw-ring-opacity,1))
    }

    .group:hover .group-hover\:scale-105 {
        --tw-scale-x: 1.05;
        --tw-scale-y: 1.05;
        transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }
}

@container label (min-width: 275px) {
    .\@\[275px\]\/label\: inline {
        display:inline
    }
}

.prose-headings\:mt-8 :is(:where(h1,h2,h3,h4,h5,h6,th):not(:where([class~=not-prose],[class~=not-prose] *))) {
    margin-top: 2rem
}

.prose-headings\:font-semibold :is(:where(h1,h2,h3,h4,h5,h6,th):not(:where([class~=not-prose],[class~=not-prose] *))) {
    font-weight: 600
}

.prose-headings\:tracking-wide :is(:where(h1,h2,h3,h4,h5,h6,th):not(:where([class~=not-prose],[class~=not-prose] *))) {
    letter-spacing: .025em
}

.prose-headings\:text-black :is(:where(h1,h2,h3,h4,h5,h6,th):not(:where([class~=not-prose],[class~=not-prose] *))) {
    --tw-text-opacity: 1;
    color: rgb(0 0 0/var(--tw-text-opacity,1))
}

.prose-h1\:text-5xl :is(:where(h1):not(:where([class~=not-prose],[class~=not-prose] *))) {
    font-size: 3rem;
    line-height: 1
}

.prose-h2\:text-4xl :is(:where(h2):not(:where([class~=not-prose],[class~=not-prose] *))) {
    font-size: 2.25rem;
    line-height: 2.5rem
}

.prose-h3\:text-3xl :is(:where(h3):not(:where([class~=not-prose],[class~=not-prose] *))) {
    font-size: 1.875rem;
    line-height: 2.25rem
}

.prose-h4\:text-2xl :is(:where(h4):not(:where([class~=not-prose],[class~=not-prose] *))) {
    font-size: 1.5rem;
    line-height: 2rem
}

.prose-h5\:text-xl :is(:where(h5):not(:where([class~=not-prose],[class~=not-prose] *))) {
    font-size: 1.25rem;
    line-height: 1.75rem
}

.prose-h6\:text-lg :is(:where(h6):not(:where([class~=not-prose],[class~=not-prose] *))) {
    font-size: 1.125rem;
    line-height: 1.75rem
}

.prose-a\:text-black :is(:where(a):not(:where([class~=not-prose],[class~=not-prose] *))) {
    --tw-text-opacity: 1;
    color: rgb(0 0 0/var(--tw-text-opacity,1))
}

.prose-a\:underline :is(:where(a):not(:where([class~=not-prose],[class~=not-prose] *))) {
    text-decoration-line: underline
}

@media (hover: hover) and (pointer:fine) {
    .hover\:prose-a\:text-neutral-300 :is(:where(a):not(:where([class~=not-prose],[class~=not-prose] *))):hover {
        --tw-text-opacity:1;
        color: rgb(212 212 212/var(--tw-text-opacity,1))
    }
}

.prose-strong\:text-black :is(:where(strong):not(:where([class~=not-prose],[class~=not-prose] *))) {
    --tw-text-opacity: 1;
    color: rgb(0 0 0/var(--tw-text-opacity,1))
}

.prose-ol\:mt-8 :is(:where(ol):not(:where([class~=not-prose],[class~=not-prose] *))) {
    margin-top: 2rem
}

.prose-ol\:list-decimal :is(:where(ol):not(:where([class~=not-prose],[class~=not-prose] *))) {
    list-style-type: decimal
}

.prose-ol\:pl-6 :is(:where(ol):not(:where([class~=not-prose],[class~=not-prose] *))) {
    padding-left: 1.5rem
}

.prose-ul\:mt-8 :is(:where(ul):not(:where([class~=not-prose],[class~=not-prose] *))) {
    margin-top: 2rem
}

.prose-ul\:list-disc :is(:where(ul):not(:where([class~=not-prose],[class~=not-prose] *))) {
    list-style-type: disc
}

.prose-ul\:pl-6 :is(:where(ul):not(:where([class~=not-prose],[class~=not-prose] *))) {
    padding-left: 1.5rem
}

@media (min-width: 475px) {
    .min-\[475px\]\:w-1\/2 {
        width:50%
    }
}

@media (min-width: 640px) {
    .sm\:mx-auto {
        margin-left:auto;
        margin-right: auto
    }

    .sm\:w-1\/3 {
        width: 33.333333%
    }

    .sm\:grid-cols-2 {
        grid-template-columns: repeat(2,minmax(0,1fr))
    }
}

@media (min-width: 768px) {
    .md\:order-last {
        order:9999
    }

    .md\:order-none {
        order: 0
    }

    .md\:col-span-2 {
        grid-column: span 2/span 2
    }

    .md\:col-span-4 {
        grid-column: span 4/span 4
    }

    .md\:row-span-1 {
        grid-row: span 1/span 1
    }

    .md\:row-span-2 {
        grid-row: span 2/span 2
    }

    .md\:ml-auto {
        margin-left: auto
    }

    .md\:block {
        display: block
    }

    .md\:inline-block {
        display: inline-block
    }

    .md\:flex {
        display: flex
    }

    .md\:hidden {
        display: none
    }

    .md\:w-1\/3 {
        width: 33.333333%
    }

    .md\:w-1\/4 {
        width: 25%
    }

    .md\:w-\[125px\] {
        width: 125px
    }

    .md\:w-\[390px\] {
        width: 390px
    }

    .md\:w-auto {
        width: auto
    }

    .md\:max-w-\[125px\] {
        max-width: 125px
    }

    .md\:grid-cols-6 {
        grid-template-columns: repeat(6,minmax(0,1fr))
    }

    .md\:grid-rows-2 {
        grid-template-rows: repeat(2,minmax(0,1fr))
    }

    .md\:flex-row {
        flex-direction: row
    }

    .md\:items-center {
        align-items: center
    }

    .md\:gap-0 {
        gap: 0
    }

    .md\:gap-12 {
        gap: 3rem
    }

    .md\:p-12 {
        padding: 3rem
    }

    .md\:px-4 {
        padding-left: 1rem;
        padding-right: 1rem
    }

    .md\:pt-1 {
        padding-top: .25rem
    }

    .md\:text-sm {
        font-size: .875rem;
        line-height: 1.25rem
    }
}

@media (min-width: 1024px) {
    .lg\:mb-0 {
        margin-bottom:0
    }

    .lg\:mr-6 {
        margin-right: 1.5rem
    }

    .lg\:block {
        display: block
    }

    .lg\:max-h-\[calc\(100vh-200px\)\] {
        max-height: calc(100vh - 200px)
    }

    .lg\:w-1\/5 {
        width: 20%
    }

    .lg\:w-80 {
        width: 20rem
    }

    .lg\:basis-2\/6 {
        flex-basis: 33.333333%
    }

    .lg\:basis-4\/6 {
        flex-basis: 66.666667%
    }

    .lg\:grid-cols-3 {
        grid-template-columns: repeat(3,minmax(0,1fr))
    }

    .lg\:flex-row {
        flex-direction: row
    }

    .lg\:gap-8 {
        gap: 2rem
    }

    .lg\:px-20 {
        padding-left: 5rem;
        padding-right: 5rem
    }

    .lg\:px-6 {
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }

    .lg\:pb-\[35\%\] {
        padding-bottom: 35%
    }
}

@media (min-width: 1280px) {
    .xl\:w-full {
        width:100%
    }
}

@media (min-width: 1320px) {
    .min-\[1320px\]\:px-0 {
        padding-left:0;
        padding-right: 0
    }
}

@media (prefers-color-scheme: dark) {
    .dark\:border-black {
        --tw-border-opacity:1;
        border-color: rgb(0 0 0/var(--tw-border-opacity,1))
    }

    .dark\:border-neutral-700 {
        --tw-border-opacity: 1;
        border-color: rgb(64 64 64/var(--tw-border-opacity,1))
    }

    .dark\:border-neutral-800 {
        --tw-border-opacity: 1;
        border-color: rgb(38 38 38/var(--tw-border-opacity,1))
    }

    .dark\:border-white\/30 {
        border-color: hsla(0,0%,100%,.3)
    }

    .dark\:bg-black {
        --tw-bg-opacity: 1;
        background-color: rgb(0 0 0/var(--tw-bg-opacity,1))
    }

    .dark\:bg-black\/70 {
        background-color: rgba(0,0,0,.7)
    }

    .dark\:bg-black\/80 {
        background-color: rgba(0,0,0,.8)
    }

    .dark\:bg-neutral-300 {
        --tw-bg-opacity: 1;
        background-color: rgb(212 212 212/var(--tw-bg-opacity,1))
    }

    .dark\:bg-neutral-700 {
        --tw-bg-opacity: 1;
        background-color: rgb(64 64 64/var(--tw-bg-opacity,1))
    }

    .dark\:bg-neutral-800 {
        --tw-bg-opacity: 1;
        background-color: rgb(38 38 38/var(--tw-bg-opacity,1))
    }

    .dark\:bg-neutral-900 {
        --tw-bg-opacity: 1;
        background-color: rgb(23 23 23/var(--tw-bg-opacity,1))
    }

    .dark\:bg-neutral-900\/80 {
        background-color: hsla(0,0%,9%,.8)
    }

    .dark\:bg-transparent {
        background-color: transparent
    }

    .dark\:fill-white {
        fill: #fff
    }

    .dark\:text-black {
        --tw-text-opacity: 1;
        color: rgb(0 0 0/var(--tw-text-opacity,1))
    }

    .dark\:text-neutral-300 {
        --tw-text-opacity: 1;
        color: rgb(212 212 212/var(--tw-text-opacity,1))
    }

    .dark\:text-neutral-400 {
        --tw-text-opacity: 1;
        color: rgb(163 163 163/var(--tw-text-opacity,1))
    }

    .dark\:text-neutral-500 {
        --tw-text-opacity: 1;
        color: rgb(115 115 115/var(--tw-text-opacity,1))
    }

    .dark\:text-white {
        --tw-text-opacity: 1;
        color: rgb(255 255 255/var(--tw-text-opacity,1))
    }

    .dark\:text-white\/\[60\%\] {
        color: hsla(0,0%,100%,.6)
    }

    .dark\:ring-neutral-700 {
        --tw-ring-opacity: 1;
        --tw-ring-color: rgb(64 64 64/var(--tw-ring-opacity,1))
    }

    .dark\:selection\:bg-pink-500 ::-moz-selection {
        --tw-bg-opacity: 1;
        background-color: rgb(236 72 153/var(--tw-bg-opacity,1))
    }

    .dark\:selection\:bg-pink-500 ::selection {
        --tw-bg-opacity: 1;
        background-color: rgb(236 72 153/var(--tw-bg-opacity,1))
    }

    .dark\:selection\:text-white ::-moz-selection {
        --tw-text-opacity: 1;
        color: rgb(255 255 255/var(--tw-text-opacity,1))
    }

    .dark\:selection\:text-white ::selection {
        --tw-text-opacity: 1;
        color: rgb(255 255 255/var(--tw-text-opacity,1))
    }

    .dark\:selection\:bg-pink-500::-moz-selection {
        --tw-bg-opacity: 1;
        background-color: rgb(236 72 153/var(--tw-bg-opacity,1))
    }

    .dark\:selection\:bg-pink-500::selection {
        --tw-bg-opacity: 1;
        background-color: rgb(236 72 153/var(--tw-bg-opacity,1))
    }

    .dark\:selection\:text-white::-moz-selection {
        --tw-text-opacity: 1;
        color: rgb(255 255 255/var(--tw-text-opacity,1))
    }

    .dark\:selection\:text-white::selection {
        --tw-text-opacity: 1;
        color: rgb(255 255 255/var(--tw-text-opacity,1))
    }

    .dark\:placeholder\:text-neutral-400::-moz-placeholder {
        --tw-text-opacity: 1;
        color: rgb(163 163 163/var(--tw-text-opacity,1))
    }

    .dark\:placeholder\:text-neutral-400::placeholder {
        --tw-text-opacity: 1;
        color: rgb(163 163 163/var(--tw-text-opacity,1))
    }

    .before\:dark\:bg-neutral-700:before {
        content: var(--tw-content);
        --tw-bg-opacity: 1;
        background-color: rgb(64 64 64/var(--tw-bg-opacity,1))
    }

    @media (hover: hover) and (pointer:fine) {
        .dark\:hover\:bg-neutral-800:hover {
            --tw-bg-opacity:1;
            background-color: rgb(38 38 38/var(--tw-bg-opacity,1))
        }

        .dark\:hover\:text-neutral-100:hover {
            --tw-text-opacity: 1;
            color: rgb(245 245 245/var(--tw-text-opacity,1))
        }

        .dark\:hover\:text-neutral-300:hover {
            --tw-text-opacity: 1;
            color: rgb(212 212 212/var(--tw-text-opacity,1))
        }

        .dark\:hover\:text-white:hover {
            --tw-text-opacity: 1;
            color: rgb(255 255 255/var(--tw-text-opacity,1))
        }
    }

    .dark\:prose-headings\:text-white :is(:where(h1,h2,h3,h4,h5,h6,th):not(:where([class~=not-prose],[class~=not-prose] *))) {
        --tw-text-opacity: 1;
        color: rgb(255 255 255/var(--tw-text-opacity,1))
    }

    .dark\:prose-a\:text-white :is(:where(a):not(:where([class~=not-prose],[class~=not-prose] *))) {
        --tw-text-opacity: 1;
        color: rgb(255 255 255/var(--tw-text-opacity,1))
    }

    .dark\:prose-strong\:text-white :is(:where(strong):not(:where([class~=not-prose],[class~=not-prose] *))) {
        --tw-text-opacity: 1;
        color: rgb(255 255 255/var(--tw-text-opacity,1))
    }
}

@font-face {
    font-family: GeistSans;
    src: url(/_next/static/media/e11418ac562b8ac1-s.p.woff2) format("woff2");
    font-display: swap;
    font-weight: 100 900
}

@font-face {
    font-family: GeistSans Fallback;
    src: local("Arial");
    ascent-override:85.83%;descent-override:20.52%;line-gap-override:9.33%;size-adjust:107.19%}

.__className_3a0388 {
    font-family: GeistSans,GeistSans Fallback
}

.__variable_3a0388 {
    --font-geist-sans: "GeistSans","GeistSans Fallback"
}
